
<div>
  <article>
    <h3>Your Bin</h3>
    <p><b>Request Count: </b>{{ binData.request_count }}</p>
    <p><b>Created: </b>{{ binData.date_created }}</p>
    <p><b>Last: </b>{{ binData.date_last_used }}</p>
    <p><b>Link:</b> <input type="text" value={{ url }}></p>
  </article>
</div>

{{#if requests}}
  {{#each requests}}
  <div class="wrapper">
    <ul class="requests">
      <li><b>Request Method: </b>{{ this.request_method }}</li>
      <li><b>IP Address: </b>{{ this.ip_address }}</li>
      <li><b>Date: </b>{{ this.received_at }}</li>
      <li><b>Size: </b>{{ this.content_length }} bytes</li>
      <li><b>Headers:</b></li>
          {{#each this.headers}}
          <ul class="inner">
            <li><b>{{@key}}</b>: {{this}}</li>
          </ul>
          {{/each}}
      <li><b>Raw Body: </b></li>
      <li><input type="text" id="raw" value='{{ this.payLoad }}'></li>
    </ul>
  </div>
  {{/each}}
{{/if}}
